<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <title>My Music</title>
  </head>
  <body>
    <div id="vue_container">

      <div id="container">
        <div id="column">
          <!-- <ol>
            <li v-for="cd in cds" :style="{backgroundImage:'url('+ cd.poster +')'}">></li>
          </ol> -->
          <h2>I MIEI ALBUMS</h2>
          <ul>
            <li v-for="cd in cds">{{cd.title}}</li>
          </ul>
        </div>
        <div id="main">
          <div id="nav">
            <h1>LA MIA MUSICA</h1>
            <label for="gen">Cambia genere</label>
            <select name="gen" v-model="selectOption">
              <option>Tutti</option>
              <option v-for="genre in genres" :value="genre">{{genre}}</option>
            </select>
          </div>
          <div id="cover_container">
            <div v-for="cd in cds" class="cover">
              <div class="image">
                <img :src="cd.poster" alt="">
              </div>
              <div class="text">Nome Album: {{cd.title}}</div>
              <div class="text">Artista: {{cd.author}}</div>
              <div class="text">Genere: {{cd.genre}}</div>
              <div class="text">Anno: {{cd.year}}</div>
            </div>
          </div>
        </div>



      </div>













    </div>

    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
