* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
#column {
  height: 100%;
  width: 10%;
  color: white;
  padding-top: 100px;
  text-align: center;
  background: rgb(26,41,128);
  background: linear-gradient(180deg, rgba(26,41,128,1) 10%, rgba(38,208,206,1) 90%);
}
#column li {
  height: 40px;
  margin-top: 10px;
}
#column h2 {
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(206,89,55,0);
  color: #FFFFFF;
  background: #1A2980;
}


#main {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
#nav {
  height: 10%;
  width: 100%;
  color: white;
  background-color: #1A2980;
}
#nav h1 {
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(206,89,55,0);
  color: #FFFFFF;
  background: #1A2980;
  padding: 10px;
}
#cover_container {
  height: 100%;
  width: 100%;
  background: rgb(26,41,128);
  background: linear-gradient(0deg, rgba(26,41,128,1) 10%, rgba(38,208,206,1) 90%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
}
.cover {
  height: 40%;
  width: 20%;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.image {
  height: 60%;
  margin-bottom: 10px;
  text-align: center;
}
.image img {
  height: 100%;
}
.image img:hover {
  height: 100%;
  cursor: pointer;
}
.text {
  height: 10%;
  width: 100%;
  text-align: center;
}


















/* clean */
